### source : https://www.analyticsvidhya.com/blog/2016/02/time-series-forecasting-codes-python/

In [1]:
#import libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#load dataset
passenger_data =pd.read_csv('..\data\passengers\international-airline-passengers.csv',sep=';')

In [3]:
passenger_data.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

In [6]:
print(passenger_data.dtypes)

Month         object
Passengers     int64
dtype: object

In [7]:
#date parse logic - lambda function to read the string Y-m date and return datetime type.
# date_parser: This specifies a function which converts an input string into datetime variable. Be default Pandas reads data in format ‘YYYY-MM-DD HH:MM:SS’.
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')

In [10]:
#parse_dates: This specifies the column which contains the date-time information. 
#index_col: A key idea behind using Pandas for TS data is that the index has to be the variable depicting date-time information. 
passenger_data_formatted = pd.read_csv('..\data\passengers\international-airline-passengers.csv',sep=';'
                                       ,parse_dates=['Month'], index_col='Month', date_parser=dateparse)

C:\Users\henci\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [12]:
#parsed data
passenger_data_formatted.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121

In [13]:
passenger_data_formatted.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [18]:
passenger_data_formatted['1960'].head()

            Passengers
Month
1960-01-01         417
1960-02-01         391
1960-03-01         419
1960-04-01         461
1960-05-01         472

In [19]:
passenger_data_formatted['1960-01']

            Passengers
Month
1960-01-01         417

In [20]:
passenger_data_formatted['1960-01' : '1960-05']

            Passengers
Month
1960-01-01         417
1960-02-01         391
1960-03-01         419
1960-04-01         461
1960-05-01         472

In [22]:
passenger_data_formatted.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121